@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel-font {
  background-color: black;
  color: white;
  /* font-smooth: never; */
  /* -webkit-font-smoothing: none; */
  font-family: 'Pixelify Sans', sans-serif;
}

.default-gradient {
  background: linear-gradient(90deg, #0d2289 0%, #06093b 100%);
}

.container {
  display: grid;
  grid-auto-columns: minmax(100px, 1fr);
  grid-template-rows: 50px repeat(4, 100px); /* Explicit sizing for 5 rows */
  grid-template-areas:
    'A B C D E F' /* New first row */
    'G H H I I J' /* Adjusted previous rows */
    'K K K K L L'
    'K K K K L L'
    'M M M M . .';
  width: 1440px;
  height: 1080px;
}

.container > .child {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  height: 100%;
}

/* pic */
.child:nth-child(1) {
  grid-area: A;
  background-color: #00f;
}

/* health */
.child:nth-child(2) {
  grid-area: B;
  background-color: #0f0;
}

/* equip big */
.child:nth-child(3) {
  grid-area: C;
  background-color: #f00;
}

/* equip small */
.child:nth-child(4) {
  grid-area: D;
  background-color: #ff0;
}

/* active box */
.child:nth-child(5) {
  grid-area: E;
  background-color: #099; /* calculated correct green */
}

/* inventory */
.child:nth-child(6) {
  grid-area: F;
  background-color: #900;
}

/* caption */
.child:nth-child(7) {
  grid-area: G;
  background-color: gray;
}

.child:nth-child(8) {
  grid-area: H;
  background-color: lime;
}

.child:nth-child(9) {
  grid-area: I;
  background-color: orange;
}

.child:nth-child(10) {
  grid-area: J;
  background-color: #009;
}

.child:nth-child(11) {
  grid-area: K;
  background-color: #1a3020;
}

.child:nth-child(12) {
  grid-area: L;
  background-color: #099;
}

.child:nth-child(13) {
  grid-area: M;
  background-color: #990;
}
